body{
    background-size: cover;
    background-positiion: center;
    background-repeat: no-repeat;
    background: url(https://i.pinimg.com/originals/7c/9f/54/7c9f546821e6ce60ba274c302894b60c.jpg);
}

.container {
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#login-box-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: col;
    border-radius: 15px;
    margin-bottom: 225px;
    margin-top: 225px;
    padding: 20px;
    height: 50vh;
    width: 400px;
    border-radius: 15px;
}

button {
    /*border: none;*/
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 9px;
    width: 90%;
    border-radius: 15px;
    background-color: blue;
}

input {
    background-color: rgba(7, 7, 7, 0.829);
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
}

.login {
    background-color: rgba 151, 152, 156, 0.932;
}
